@charset "UTF-8";

.fdk-color0 {
  color: #ffffff; }

.fdk--bg-color-white {
  color: #ffffff; }

.fdk-color1 {
  color: #2D3741; }

.fdk-color2 {
  color: #A0A5AA; }

.fdk-color3 {
  color: #646E78; }

.fdk-color4 {
  color: #D2D7DC; }

.fdk-color5 {
  color: #DEE3E8; }

.fdk-color6 {
  color: #EEF0F2; }

.fdk-color-cta {
  color: #00C3FF; }

.fdk-color-cta2 {
  color: #0069A5; }

.fdk-color-cta3 {
  color: #009BD7; }

.fdk-color-cta4 {
  color: #AAE6FF; }

.fdk-color-offentlig {
  color: #00CD96 !important; }

.fdk-color-begrenset {
  color: #FFC800 !important; }

.fdk-color-unntatt {
  color: #FF4682 !important; }

.fdk-color-unknown {
  color: #A0A5AA !important; }

.fdk-color-green {
  color: #00CD96; }

.fdk-color-yellow {
  color: #FFC800; }

.fdk-color-red {
  color: #FF4682; }

.fdk-color-icon-cta {
  color: #2D3741; }

html {
  font-size: 62.5%; }

body {
  background-color: #EEF0F2;
  font-family: "heebo", "helvetica", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.3rem;
  color: #2D3741; }

/*  C O N T A I N E R   &   H E A D E R   &   F O O T E R   */
.fdk-container {
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0px 0px 10px 0px; }

.fdk-container:hover {
  box-shadow: 0px 3px 12px rgba(35, 55, 65, 0.55); }

.fdk-header {
  background-color: #ffffff;
  border-bottom: 1px solid #DEE3E8;
  padding: 1em 1.2em;
  margin: 0; }

.fkd-header-right {
  text-align: right; }

.fdk-logo {
  height: 6rem; }


/*
  GENERAL MARGINS AND PADDINGS
*/
.uu-invisible {
  background: 0 0;
  color: transparent;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute !important; }

#skip-link-wrap a {
  color: #0069A5;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }
  #skip-link-wrap a:focus, #skip-link-wrap a:active {
    background-color: lime;
    position: static;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto; }

/*
 TOP-HEADER
 */
.btn-group-default .dropdown-menu {
  left: auto;
  right: 0; }

.fdk-header-flex {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.fdk-header-menu {
  display: flex;
  justify-content: flex-end;
  width: 6em; }


/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .fdk-footer {
    margin: 60px 0px 0px 0px; } }

/* Large Devices, Wide Screens */
