.oedIconBox {
  padding: 24px 0;
  margin-top: 30px;
  height: 190px;
  background-color: #fff;
  color: #000000;
  text-align: center; }

.oedIconBoxPrimary {
  background-color: #ffffff;
  color: #008FD6; }

.oedIconBoxWhite {
  background-color: #008FD6;
  color: #ffffff; }

  .oedIcon {
    width: 64px;
    height: 64px;
    padding: 0;
    margin: 0 auto 24px auto; }
  